<div class='app-component'>
    <h3>Todo List</h3>
    <div *ngIf="listing">
        <div>Filter By User ID: 
            <select #mySelect (change)='onSelect(mySelect.value)'>
                <option *ngFor='let item of userIds' 
                    [value]="item">{{ item }}
                </option>
            </select>

        <div><input (checked)="statusFilter" type='checkbox' name='statusFilter' value='on' (change)="statusFilter = !statusFilter"> Check to filter completed status only.</div>
        <span class='header'>Summary:</span>
        <div>Complete: {{ totalComplete }} item(s) ({{ (totalComplete / listing.length) * 100}} %)</div>
        <div>Incomplete: {{ totalIncomplete }} item(s) ({{ (totalIncomplete / listing.length) * 100}} %)</div>
    </div>

    <ul>
        <li *ngFor="let item of listing">    
            <div *ngIf='!statusFilter || (statusFilter && item.completed)'>   
                <span class='label'>ID:</span> <span>{{ item.id }}</span>
                <span class='label'>UserID:</span> <span>{{ item.userId }}</span>
                <span class='label'>Title:</span> <span>{{ item.title }}</span>
                <span class='label'>Status:</span> <span>{{ item.completed }}</span>
                <span *ngIf='!item.completed'>[ <a (click)='markAsComplete(item)'>complete this task</a> ]</span>     
                <span *ngIf='item.completed'>[ <a (click)='markAsInComplete(item)'>uncomplete this task</a> ]</span>                                                                      
            </div>
        </li>
    </ul>
</div>